.navbar-brand .brand-img {
    height: 80px;
}

.bg-success{
    background-color: aquamarine;
}

.display-1, .display-2, .display-3, .display-4 {
    font-weight: bold !important;
}

header nav {
    padding: 20px 40px !important;
}

section {
    padding: 10vw 0 !important;
}

#segmentos {
    padding: 20px !important;
}

#parceiros{
    padding:2.5vw !important;
}

#segmentos .card-body {
    text-align: center;
}

#rodape{
    padding-top: 10vh;
}

#seinao{
    padding: 0px !important;
}

#inicio {
    background-image: url("../img/cover/01.jpg");
    background-size: cover;
    background-position: center center;
}

.card-image img {
    width: 64px;
    height: 64px;
    display: inline-block;
}

.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax.parallax-one {
    height: 100vh;
    background-image: url("../img/background/04.jpg");
    border-radius: 0;
}


.google-map {
    padding-top: 15px;
}

.google-map .map-controls {position: absolute;top: 25px;right: 25px;}

.google-map .map-frame {}

.map-controls a {
    border-radius: 0.25rem;
    font-weight: bold;
}